*{
	margin: 0px;
	padding: 0px;
}

.carousel-inner img {
  	width: 100%;
 }

 .navbar{
 	border-bottom: 5px solid #3e8fc3;
 }

@media (min-width: 1200px){
	.container{
		min-width: 1200px;
	}
}

.header-bg{
	background: linear-gradient(#6c68683b,#0000004f), url(../images/header-bg.jpg);
	background-repeat: no-repeat;
	position: relative;
    background-size: cover;
    min-height: 265px;
    box-shadow: 14px 4px 10px #000;
}

.page-title{
	color: #fff;
	position: absolute;
	bottom: 0;
}

.required{
	color: red;
}

#add_offday{
	display: none;
}

.btn-secondary{
	background-color: #6c757d !important;
}
.text-secondary{
	color: #6c757d !important;
}


@media (max-width: 760px){
	.navbar-nav .dropdown-menu{
    	left: 0;
    	width: 30%;
	}
}

.custom-login{
	background-image: url('../images/login-bg.jpg');
	height: 100vh;
	background-size: 100vw 100vh;
    filter: blur(8px);

}

.login-body{
	text-align: center;
    position: absolute;
    color: #fff;
    top: 50%;
    left: 50%;
	background-color: rgba(0,0,0, 0.4); /* Black w/opacity/see-through */
  	transform: translate(-50%, -50%);
  	border-radius: 10px;

}

.login-body .fa-user, .fa-lock{
    position: absolute;
    color: #03559b;
    top: 10px;
    left: 7px;
}



.login-body .form-group{
	position: relative;
}

/*select2 box height*/
.select2-container--default .select2-selection--single .select2-selection__rendered{
    line-height: 38px;
}
.select2-container .select2-selection--single{
    height: 38px;
    border: 1px solid #ced4da;
    border-radius: .25rem;
}

.select2-container .select2-selection--single:focus{
    outline: 0;
}

.select2-container--default .select2-selection--single .select2-selection__arrow{
    height: 38px;
}
.select2-container--default .select2-search--dropdown .select2-search__field{
    border: 1px solid #ced4da;
    border-radius: .25rem;
}

.select2-container--default .select2-search--dropdown .select2-search__field:focus{
    outline-offset: 0px;
}

.d-flex.justify-content-center.spinner-wrapper {
    background: #fff;
    height: 100%;
    width: 100%;
    position: absolute;
    z-index: 1;
    align-items: center;
}

.no-outline, .no-outline:focus{
    outline: 0;
    cursor: auto;
}
